<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <meta charset="UTF-8">
  <title>Heat Pump Params</title>


  <!-- Styl dla labeli -->
  <style>
        label {
            color: #18192D !important; /* Dodanie !important, aby zabezpieczyć przed ewentualnym nadpisywaniem przez Bootstrap */
        }
    </style>
</head>

<body>

<div class="container mt-4" action="/api/heatpumps/searchPump" method="POST">
  <form id="heatPumpForm" >

    <div class="form-group">
      <label for="producent">Producent:</label>
      <select class="form-control" id="producent" name="producent" onchange="loadTypes()">
        <option th:each="producent : ${heatPumpProducents}"   th:value="${producent}" th:text="${producent}"></option>
      </select>
    </div>

    <div class="form-group">
      <label for="model">Model:</label>
      <select class="form-control" id="model" name="model" onchange="loadTypes()">
        <option th:each="model : ${heatPumpModels}" th:value="${model}" th:text="${model}"></option>
      </select>
    </div>

    <div class="form-group">
      <label for="typ">Typ:</label>
      <select class="form-control" id="typ" name="typ">
      </select>
    </div>


    <div id="heatPumpData" class="container mt-4">
      <div class="pump-data">
        <label>Jednostka wewnętrzna:</label>
        <span id="jednostkaWewnetrzna"></span>
      </div>
      <div class="pump-data">
        <label>Jednostka zewnętrzna:</label>
        <span id="jednostkaZewnetrzna"></span>
      </div>
      <div class="pump-data">
        <label>Moc znamionowa:</label>
        <span id="mocZnamionowa"></span>
      </div>
      <div class="pump-data">
        <label>Moc grzałki:</label>
        <span id="mocGrzalki"></span>
      </div>
      <div class="pump-data">
        <label>Zasilanie:</label>
        <span id="zasilanie"></span>
      </div>
      <div class="pump-data">
        <label>SCOP:</label>
        <span id="scop"></span>
      </div>
      <div class="pump-data">
        <label>Gwarancja:</label>
        <span id="gwarancja"></span>
      </div>
    </div>

  </form>
</div>

<script th:inline="javascript">
    /* Function to load types */
    function loadTypes() {
        // Get the selected producer, model, and type elements
        var producerSelect = document.getElementById('producent');
        var modelSelect = document.getElementById('model');
        var typeSelect = document.getElementById('typ');

        // Get the div elements for displaying data
        var internalUnitDiv = document.getElementById('jednostkaWewnetrzna');
        var externalUnitDiv = document.getElementById('jednostkaZewnetrzna');
        var nominalPowerDiv = document.getElementById('mocZnamionowa');
        var heatingPowerDiv = document.getElementById('mocGrzalki');
        var powerSupplyDiv = document.getElementById('zasilanie');
        var scopDiv = document.getElementById('scop');
        var warrantyDiv = document.getElementById('gwarancja');

        // Check if both producer and model are selected
        if (producerSelect.value && modelSelect.value) {
            // Make AJAX request to get types
            $.get('/api/heatpumps/searchPump?producent=' + producerSelect.value + '&model=' + modelSelect.value, function(data) {
                // Clear and update type select options
                typeSelect.innerHTML = '<option value="" selected>-- Select type --</option>';
                data.forEach(function(type) {
                    typeSelect.innerHTML += '<option value="' + type + '">' + type + '</option>';
                });

                // Update data in divs
                internalUnitDiv.textContent = data.internalUnit;
                externalUnitDiv.textContent = data.externalUnit;
                nominalPowerDiv.textContent = data.power;
                heatingPowerDiv.textContent = data.heater;
                powerSupplyDiv.textContent = data.powerSupply;
                scopDiv.textContent = data.scop;
                warrantyDiv.textContent = data.warranty;

                console.log(data.warranty);
            });
        } else {
            // Clear type select options and data divs if either producer or model is not selected
            typeSelect.innerHTML = '<option value="" selected>-- Select type --</option>';
            internalUnitDiv.textContent = '';
            externalUnitDiv.textContent = '';
            nominalPowerDiv.textContent = '';
            heatingPowerDiv.textContent = '';
            powerSupplyDiv.textContent = '';
            scopDiv.textContent = '';
            warrantyDiv.textContent = '';
        }
    }
</script>


</script>

</body>
</html>